.jogo {
    border: 1px solid #eee;
    background-color: #f2f2f2;
    box-shadow: 5px 5px 10px #ccc;
    margin-bottom: 1rem;
}

.jogo_detalhes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
