.placar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mandante_box, .visitante_box, .placar_box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.placar_box {
    min-width: 55px;
    justify-content: center;
    font-size: 12px;
    color: #555;
    gap: 0.5rem;
}

.mandante_box {
    width: 100%;
    margin-right: 1rem;
    justify-content: flex-end;
}

.visitante_box {
    width: 100%;
    margin-left: 1rem;
    justify-content: flex-start;
}

.gols {
    font-size: 1.5rem;
    color: #222;
}
